<div class="container p-5">
  <h2>投稿一覧</h2>
<% @products.each do |product| %>

  <p>タイトル</p>
  <span>
    <%=link_to product.name, product_path(product.id) %>
  </span>
  
  <p>投稿画像</p>
    <% if product.images.first.present? %>
      <%= image_tag product.images.first, size: "200x200" %>
    <% end %>
  

<% end %>