
<div class='container px-5 px-sm-0'>
   <div class='row mt-3 ml-5'>
       <h4><span class="bg-light">My archive<span></h4>
    </div>
    <div class='col-md-9 pl-5 mt-4'>
    <div class="row row-cols-1 row-cols-3">
      <% @private_products.each do |product| %>
        <div class="col mt-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <% if product.images.first.present? %>
                <%= image_tag product.images.first, size: "200x200", class: "img-fluid" %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%=link_to product.name, product_path(product.id) %></h5>
              <p class="card-text"><%=product.introduction.truncate(10) %></p>
              <%= link_to "作品の詳細を見る",product_path(product.id), class: "btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
   </div>
  </div>
</div>