<div class="container" >
  <div class="jumbotron jumbotron-extend">
    <div class="container-fluid">
      <h1>Wellcome! AteliYell</h1>
      <p><a class="btn btn-black" href="#" role="button">CONTACT ME</a></p>
    </div>
  </div>
</div>



<div class="container p-5">
  <div class="row p-3">
    <div class="mx-auto">
      <p class="text-center">
        AteliYellとは
      <br>
      <br>    
        アトリエとエールを組み合わせた造語です。
      <br>
      <br>
        AtelliYellでは作品の投稿・閲覧をすることが可能です。
      <br>
        未来あるファッション学生の才能・世界観を世の中に知ってもらえる
        きっかけになれば幸いです。
      </p>
    </div>
  </div>
</div>