<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">Welcome</h1>
  <h4 class="mb-4">AtelliYell!</h4>
  <a class="btn btn-primary btn-lg" href="https://mdbootstrap.com/learn/mdb-foundations/basics/introduction/"
    role="button">Learn with me</a>
</div>
<!-- Jumbotron -->







<div class="container p-5">
  <div class="row p-3">
    <div class="mx-auto">
      <p class="text-center">
        AteliYellとは
      <br>
      <br>    
        アトリエとエールを組み合わせた造語です。
      <br>
      <br>
        AtelliYellでは作品の投稿・閲覧をすることが可能です。
      <br>
        未来あるファッション学生の才能・世界観を世の中に知ってもらえる
        きっかけになれば幸いです。
      </p>
    </div>
  </div>
</div>