@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.img-fluid {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: auto;
}